Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - NILAWAY_EXIT_CODE=$(${GOPATH}/bin/nilaway -include-pkgs="gitlab.com/gitlab-org/gitlab-shell/v14" ./... > /tmp/out.txt 2>&1 ; echo $?) || true
  - cat /tmp/out.txt
  - exit ${NILAWAY_EXIT_CODE}
  allow_failure: true

Apply 1 suggestion(s) to 1 file(s)
  internal/command/lfstransfer/gitlab_logger.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: formatting of gitlab_logger
  internal/command/lfstransfer/gitlab_logger.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release 14.47.0
  CHANGELOG
  VERSION
Due: none

Update LabKit version
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Consolidate the HTTP Status code field
  client/transport.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Tidy dependencies
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update LabKit to consolidate the HTTP Status
  client/transport.go
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Migrate user_id log field to labkit fields.GitLabUserID constant
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/handler/exec.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate username log field to labkit fields.GitLabUserName constant
  internal/command/gitauditevent/audit.go
  internal/handler/exec.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use labkit log helper methods and update dependencies
  go.mod
  go.sum
  internal/command/gitauditevent/audit.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/logger/logger.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Migrate all log callsites to use labkit v2/log helper methods
  client/transport.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/command/githttp/pull.go
  internal/command/githttp/push.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfstransfer/lfstransfer.go
  internal/command/twofactorrecover/twofactorrecover.go
  internal/command/twofactorverify/twofactorverify.go
  internal/gitlabnet/git/client.go
  internal/handler/exec.go
  internal/sshd/connection.go
  internal/sshd/gssapi.go
  internal/sshd/server_config.go
  internal/sshd/session.go
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fixes the formatting issues
  cmd/gitlab-shell/main.go
  internal/command/githttp/pull.go
  internal/command/githttp/push.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfstransfer/lfstransfer.go
  internal/command/twofactorrecover/twofactorrecover.go
  internal/command/twofactorverify/twofactorverify.go
  internal/gitlabnet/git/client.go
  internal/handler/exec.go
  internal/sshd/connection.go
  internal/sshd/server_config.go
  internal/sshd/session.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update logger test to use GITLAB_LOG_LEVEL env var
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Apply 1 suggestion(s) to 1 file(s)
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Restore LogLevel cfg support and update dependencies
  go.mod
  go.sum
  internal/command/command.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Handle strconv.Atoi error in LogExecution with warn-and-continue
  internal/handler/exec.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate logging to labkit v2 log helper methods
  client/transport.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/command/command.go
  internal/command/gitauditevent/audit.go
  internal/command/githttp/pull.go
  internal/command/githttp/push.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfstransfer/lfstransfer.go
  internal/command/twofactorrecover/twofactorrecover.go
  internal/command/twofactorverify/twofactorverify.go
  internal/gitlabnet/git/client.go
  internal/handler/exec.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/sshd/connection.go
  internal/sshd/gssapi.go
  internal/sshd/server_config.go
  internal/sshd/session.go
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Bootstrap internal gitlab client using labkit v2 httpclient
  go.mod
  go.sum
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Add explanatory comments to private functions in gitlab client
  internal/clients/gitlab/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix lint and go mod tidy failures
  go.sum
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Address GitLab Duo code review feedback
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Address code review feedback on gitlab client
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Address remaining review comments: X-Forwarded-For, metrics, correlation
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add retry transport to match old retryablehttp behavior
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Preserve *client.APIError wrapping in new gitlab client
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fixes the formatting
  internal/clients/gitlab/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Replace custom retryTransport with go-retryablehttp
  internal/clients/gitlab/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use httpclient.DoWithRetry instead of rolling our own retry logic
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Split client.go into focused files per reviewer suggestion
  internal/clients/gitlab/auth.go
  internal/clients/gitlab/client.go
  internal/clients/gitlab/response.go
  internal/clients/gitlab/transport.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Close response body on error in ParseJSON
  internal/clients/gitlab/response.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Log original error before wrapping as APIError
  internal/clients/gitlab/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Prometheus metrics for Topology Service client
  internal/config/config_test.go
  internal/metrics/metrics.go
  internal/topology/client.go
  internal/topology/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate simple GET clients to internal/clients/gitlab
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/gitlabnet/authorizedkeys/client.go
  internal/gitlabnet/authorizedkeys/client_test.go
  internal/gitlabnet/discover/client.go
  internal/gitlabnet/discover/client_test.go
  internal/gitlabnet/healthcheck/client.go
  internal/gitlabnet/healthcheck/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix test failures caused by new client requiring a non-empty secret
  internal/command/authorizedkeys/authorized_keys_test.go
  internal/command/discover/discover_test.go
  internal/command/healthcheck/healthcheck_test.go
  internal/command/personalaccesstoken/personalaccesstoken_test.go
  internal/command/twofactorrecover/twofactorrecover_test.go
  internal/command/twofactorverify/twofactorverify_test.go
  internal/gitlabnet/healthcheck/client.go
  internal/gitlabnet/personalaccesstoken/client_test.go
  internal/gitlabnet/twofactorrecover/client_test.go
  internal/gitlabnet/twofactorverify/client_test.go
  internal/sshd/server_config_test.go
  internal/sshd/session_test.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate POST clients to internal/clients/gitlab
  internal/command/lfsauthenticate/lfsauthenticate_test.go
  internal/command/personalaccesstoken/personalaccesstoken_test.go
  internal/command/twofactorrecover/twofactorrecover_test.go
  internal/command/twofactorverify/twofactorverify_test.go
  internal/gitlabnet/lfsauthenticate/client.go
  internal/gitlabnet/lfsauthenticate/client_test.go
  internal/gitlabnet/personalaccesstoken/client.go
  internal/gitlabnet/twofactorrecover/client.go
  internal/gitlabnet/twofactorverify/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Address review feedback: ConfigFromShellConfig helper, ParseJSON body close, XFF header
  internal/clients/gitlab/client.go
  internal/clients/gitlab/response.go
  internal/clients/gitlab/transport.go
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedkeys/client.go
  internal/gitlabnet/discover/client.go
  internal/gitlabnet/healthcheck/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix flaky TestSessionsMetrics test
  internal/sshd/connection_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add support for instance-level SSH certificates via configuration
  config.yml.example
  internal/config/config.go
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
