Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go

Fix LFS response body leaks
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Validate public_key_algorithms when the server starts
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use distinct algorithms in the startup validation tests
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Reuse the outer err for the algorithm validation
  internal/sshd/server_config.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Reuse HTTP client for LFS transfers
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update github.com/openshift/gssapi digest to d6b7266
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/mattn/go-shellwords to v1.0.14
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency golangci-lint to v2.13.2
  .tool-versions
Due: none

Add custom redirect handling to LFS transfer HTTP client
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Support instance-level results from /authorized_certs
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Comment out SSH ciphers and other crypto algorithms
  config.yml.example
Due: none

Fix Cells receive-pack server-first handshake
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/command/receivepack/receivepack_test.go
  internal/pktline/pktline.go
  internal/pktline/pktline_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Enforce nilaway failures in CI
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.57.4
  CHANGELOG
  VERSION
Due: none

Add test and comments
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update module github.com/mattn/go-shellwords to v1.0.15
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Exclude negotiation timeouts from the SSH error SLI
  internal/sshd/connection.go
  internal/sshd/connection_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.57.5
  CHANGELOG
  VERSION
Due: none

Sign Cells Shell JWT per request
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/gitlabnet/git/client.go
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use ErrorContains in Cells JWT signing error test
  internal/command/githttp/cells_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Stream LFS uploads without buffering
  internal/command/lfstransfer/gitlab_backend.go
  internal/command/lfstransfer/lfstransfer_test.go
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.57.6
  CHANGELOG
  VERSION
Due: none

Fix Geo SSH proxy hang on error responses over HTTP/2
  internal/gitlabnet/git/client.go
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Test that closing a successful response cancels its request context
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Assert request context is captured before use in test
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Reject instance-scoped responses that carry a namespace
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Refine Cells Shell JWT signing
  client/client_test.go
  client/gitlabnet.go
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/command/uploadpack/uploadpack_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Preserve Cell error messages in Cells routing
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Bound Gitaly clones in SSHD acceptance tests
  cmd/gitlab-sshd/acceptance_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use request preparation for Cells JWT headers
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/gitlabnet/git/client.go
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Cancel the request before closing any response body
  internal/gitlabnet/git/client.go
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

go: Update module gitlab.com/gitlab-org/labkit/v2 to v2.56.0
  .labkit_logging_todo.yml
  Makefile
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway
