Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go

Release v14.58.0
  CHANGELOG
  VERSION
Due: none

Automate the release process
  .gitlab-ci.yml
  README.md
  support/release.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix short info/refs reads and nil Git headers
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/command/githttp/push.go
  internal/command/githttp/push_test.go
  internal/command/githttp/util.go
  internal/command/githttp/util_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use glab and check the security repository in release jobs
  .gitlab-ci.yml
  README.md
  support/release.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Create a GitLab release for each release tag
  .gitlab-ci.yml
  README.md
  support/release.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use request preparation for Cells JWT headers
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/gitlabnet/git/client.go
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Address review feedback on the release script
  .gitlab-ci.yml
  support/release.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Remove deprecated Config.UseTextFormat
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Time out stalled info/refs prefix reads
  internal/command/githttp/cells_test.go
  internal/command/githttp/pull.go
  internal/command/githttp/push.go
  internal/command/githttp/util.go
  internal/command/githttp/util_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Send SSH certificate provenance in Git audit events
  cmd/gitlab-shell/command/command.go
  cmd/gitlab-shell/command/command_test.go
  internal/command/commandargs/shell.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
  internal/sshd/session.go
  internal/sshd/sshd.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Extract authorized_keys path into a named constant
  internal/sshd/server_config_test.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update google.golang.org/grpc
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update labkit and remove deprecated Config.UseTextFormat
  .labkit_logging_todo.yml
  Makefile
  go.mod
  go.sum
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

go: Update module gitlab.com/gitlab-org/labkit/v2 to v2.61.0
  Makefile
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Add custom redirect handling to LFS transfer HTTP client
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Remove stale Ruby Code Climate configuration
  .codeclimate.yml
  .gitignore
Due: none

Remove Ruby Gemfile
  .gitignore
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update httparty
  Gemfile.lock
Due: none

Update addressable
  Gemfile.lock
Due: none

Update faraday
  Gemfile.lock
Due: none

Update uri
  Gemfile.lock
Due: none

Update github.com/prometheus/prometheus
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update github.com/DataDog/dd-trace-go/v2
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Replace Ruby make_necessary_dirs script with Go
  Makefile
  support/gitlab_config.rb
  support/make_necessary_dirs
  support/make_necessary_dirs/main.go
  support/make_necessary_dirs/main_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Remove FF_GITLAB_SHELL_SSH_CERTIFICATES environment variable
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Send SSH client IP to /authorized_certs
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway
