Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go

Fix linter errors
  internal/command/githttp/pull_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

style: Fix gofmt lint in lfstransfer test
  internal/command/lfstransfer/lfstransfer_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Rename some-other-ff test key to avoid gofmt instability
  internal/command/lfstransfer/lfstransfer_test.go
  internal/command/receivepack/gitalycall_test.go
  internal/command/uploadarchive/gitalycall_test.go
  internal/command/uploadpack/gitalycall_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix Geo SSH proxy fetch failure on protocol v2
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/pktline/pktline.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update module gitlab.com/gitlab-org/gitaly/v18 to v18.11.11
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Fix Geo SSH proxy hang on protocol v2 fetches without done
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/pktline/pktline.go
  internal/pktline/pktline_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Port FIPS usage to labkit v2 fips/sshalgo packages
  .tool-versions
  cmd/gitlab-shell/main.go
  go.mod
  go.sum
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Add ssh-audit CI check for FIPS and non-FIPS SSH algorithms
  .gitignore
  .gitlab-ci.yml
  Makefile
  support/ssh-audit/README.md
  support/ssh-audit/gitlab-sshd-fips.policy
  support/ssh-audit/gitlab-sshd.policy
  support/ssh-audit/run.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update VERSION and CHANGELOG for 14.57.0
  CHANGELOG
  VERSION
Due: none

Address review: dedupe flush literal, share pipe/request logic, table-driven v2 tests
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/command/githttp/push.go
  internal/command/githttp/util.go
  internal/pktline/pktline.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Send Classify claims via the claims chain
  go.mod
  go.sum
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/gitlabnet/authorizedkeys/client_test.go
  internal/topology/client.go
  internal/topology/client_test.go
  internal/topology/resolver_test.go
  internal/topology/topologytest/mock_server.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Tests refactoring and clean-up
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/gitlabnet/authorizedkeys/client_test.go
  internal/topology/client.go
  internal/topology/client_test.go
  internal/topology/resolver_test.go
  internal/topology/topologytest/mock_server.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Dedupe internal API JSON request decoding in command tests
  client/testserver/testserver.go
  client/testserver/testserver_test.go
  internal/clients/gitlab/client_test.go
  internal/command/gitauditevent/audit_test.go
  internal/command/lfsauthenticate/lfsauthenticate_test.go
  internal/command/lfstransfer/lfstransfer_test.go
  internal/command/personalaccesstoken/personalaccesstoken_test.go
  internal/command/shared/accessverifier/accessverifier_test.go
  internal/command/twofactorrecover/twofactorrecover_test.go
  internal/command/twofactorverify/twofactorverify_test.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/gitlabnet/gitauditevent/client_test.go
  internal/gitlabnet/lfsauthenticate/client_test.go
  internal/gitlabnet/personalaccesstoken/client_test.go
  internal/gitlabnet/twofactorrecover/client_test.go
  internal/gitlabnet/twofactorverify/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.57.1
  CHANGELOG
  VERSION
Due: none

Remove pipeUploadPack wrapper, call pipeRequest directly
  internal/command/githttp/pull.go
  internal/command/githttp/util.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Deduplicate Gitaly integration test setup
  internal/command/receivepack/gitalycall_test.go
  internal/command/uploadarchive/gitalycall_test.go
  internal/command/uploadpack/gitalycall_test.go
  internal/testhelper/gitalytest/gitalytest.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Deduplicate LFS transfer test setup
  internal/command/lfstransfer/lfstransfer_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Expand comment explaining the injected flush packet
  internal/command/githttp/pull.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Geo: Fix SSH proxy hang by closing pull request body after negotiation
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/command/githttp/push.go
  internal/command/githttp/util.go
  internal/pktline/pktline.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.57.2
  CHANGELOG
  VERSION
Due: none

Cells: Close Cells pull request body after negotiation
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/command/githttp/push.go
  internal/command/githttp/util.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.57.3
  CHANGELOG
  VERSION
Due: none

Applied suggestions
  CHANGELOG
Due: none

Fix short info/refs reads and nil Git headers
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/command/githttp/push.go
  internal/command/githttp/push_test.go
  internal/command/githttp/util.go
  internal/command/githttp/util_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use the request logger for Cells routing logs
  internal/command/githttp/cells.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add comprehensive commandargs test coverage
  internal/command/commandargs/authorized_keys_test.go
  internal/command/commandargs/authorized_principals_test.go
  internal/command/commandargs/commandargs_test.go
  internal/command/commandargs/shell.go
  internal/command/commandargs/shell_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Prevent goroutine leaks and hangs in transfer tests
  internal/command/lfstransfer/lfstransfer_test.go
  internal/command/twofactorverify/twofactorverify.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update github.com/charmbracelet/git-lfs-transfer digest to 971c028
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Fix LFS response body leaks
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Reuse HTTP client for LFS transfers
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway
