Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - NILAWAY_EXIT_CODE=$(${GOPATH}/bin/nilaway -include-pkgs="gitlab.com/gitlab-org/gitlab-shell/v14" ./... > /tmp/out.txt 2>&1 ; echo $?) || true
  - cat /tmp/out.txt
  - exit ${NILAWAY_EXIT_CODE}
  allow_failure: true

test(clients/gitlab): tighten error assertions in healthcheck tests
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Refactor ClientForRoute to return resolved cell address
  internal/command/lfsauthenticate/lfsauthenticate_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedkeys/client.go
  internal/gitlabnet/discover/client.go
  internal/gitlabnet/personalaccesstoken/client.go
  internal/gitlabnet/twofactorrecover/client.go
  internal/gitlabnet/twofactorverify/client.go
  internal/topology/resolver.go
  internal/topology/resolver_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(clients/gitlab): add HealthcheckClient for /check endpoint
  internal/clients/gitlab/healthcheck.go
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Remove verbose binary output logging in acceptance test
  cmd/gitlab-sshd/acceptance_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Cells SSH-over-HTTP routing for git push/pull
  client/client_test.go
  client/gitlabnet.go
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/command/receivepack/receivepack.go
  internal/command/uploadpack/uploadpack.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Delivery tracker link to tag management guidelines
  README.md
Due: none

feat(command/healthcheck): gate client selection on feature flag
  .golangci.yml
  go.mod
  internal/command/healthcheck/healthcheck.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

refactor(healthcheck): address review feedback on FF dispatch
  internal/command/command.go
  internal/command/healthcheck/healthcheck.go
  internal/command/healthcheck/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(healthcheck): restructure tests for clarity and 100% coverage
  internal/command/healthcheck/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(command/healthcheck): gate client selection on feature flag
  .golangci.yml
  go.mod
  internal/command/command.go
  internal/command/healthcheck/healthcheck.go
  internal/command/healthcheck/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.53.0
  CHANGELOG
  VERSION
Due: none

Propagate SSH certificate CriticalOptions in permissions
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate SSH routing from SSHKey claim to SSHFingerprint claim
  go.mod
  go.sum
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/gitlabnet/authorizedkeys/client.go
  internal/gitlabnet/authorizedkeys/client_test.go
  internal/topology/claims.go
  internal/topology/claims_test.go
  internal/topology/resolver.go
  internal/topology/resolver_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

chore: Acknowledge revive lint violations in topology package
  support/lint_last_known_acceptable.txt
Due: none

Update module github.com/open-feature/go-sdk to v1.17.2
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update gitlab.com/gitlab-org/cells/topology-service digest to 2c761c2
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency golangci-lint to v2.12.2
  .tool-versions
Due: none

Update dependency golangci-lint to v2.12.2 in Makefile
  Makefile
  support/lint_last_known_acceptable.txt
Due: none

Update module gitlab.com/gitlab-org/labkit to v1.64.2
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Fix goconst violations in production code
  client/gitlabnet.go
  internal/command/discover/discover.go
  internal/command/lfstransfer/gitlab_backend.go
  internal/metrics/metrics.go
  internal/sshd/connection.go
  internal/sshd/server_config.go
  internal/sshd/sshd.go
  internal/testhelper/requesthandlers/requesthandlers.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix gofmt formatting and update lint acceptable list
  internal/command/lfstransfer/gitlab_backend.go
  internal/testhelper/requesthandlers/requesthandlers.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update github.com/charmbracelet/git-lfs-transfer digest to 1241631
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module golang.org/x/crypto to v0.52.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Fix goconst lint violations in cmd/ and some internal/ test files
  client/httpsclient_test.go
  cmd/gitlab-shell-authorized-keys-check/command/command_test.go
  cmd/gitlab-shell-authorized-principals-check/command/command_test.go
  cmd/gitlab-shell/command/command_test.go
  internal/clients/gitlab/client_test.go
  internal/command/authorizedkeys/authorized_keys_test.go
  internal/command/command_test.go
  internal/command/commandargs/shell_test.go
  internal/command/discover/discover_test.go
  internal/command/githttp/pull_test.go
  internal/command/githttp/push_test.go
  internal/command/healthcheck/healthcheck_test.go
  internal/command/lfsauthenticate/lfsauthenticate_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix gofmt formatting and add missing constants in client_test.go
  cmd/gitlab-shell-authorized-keys-check/command/command_test.go
  internal/clients/gitlab/client_test.go
  internal/command/discover/discover_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix initialization cycle in lfsauthenticate_test.go
  internal/command/lfsauthenticate/lfsauthenticate_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore: update lint baseline with 8 new goconst violations
  support/lint_last_known_acceptable.txt
Due: none

test(acceptance): subprocess acceptance test harness for healthcheck
  Makefile
  acceptance/acceptancetest/acceptancetest.go
  acceptance/acceptancetest/acceptancetest_test.go
  acceptance/acceptancetest/binary.go
  acceptance/acceptancetest/binary_test.go
  acceptance/acceptancetest/config.go
  acceptance/acceptancetest/config_test.go
  acceptance/acceptancetest/process.go
  acceptance/acceptancetest/process_test.go
  acceptance/healthcheck/authhelpers_test.go
  acceptance/healthcheck/healthcheck_test.go
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Go 1.26 to CI testing matrix
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance): address review feedback on healthcheck harness
  .gitlab-ci.yml
  acceptance/acceptancetest/binary_test.go
  acceptance/healthcheck/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix(acceptance): avoid ETXTBSY race when building shared binary
  acceptance/acceptancetest/binary.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

refactor(acceptance): use os.Rename to install built binary
  acceptance/acceptancetest/binary.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance): subprocess acceptance test harness for healthcheck
  .gitlab-ci.yml
  Makefile
  acceptance/acceptancetest/acceptancetest.go
  acceptance/acceptancetest/acceptancetest_test.go
  acceptance/acceptancetest/binary.go
  acceptance/acceptancetest/binary_test.go
  acceptance/acceptancetest/config.go
  acceptance/acceptancetest/config_test.go
  acceptance/acceptancetest/process.go
  acceptance/acceptancetest/process_test.go
  acceptance/healthcheck/authhelpers_test.go
  acceptance/healthcheck/healthcheck_test.go
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.54.0
  CHANGELOG
  VERSION
Due: none

Fix gofmt formatting and add missing constants in client_test.go
  cmd/gitlab-shell-authorized-keys-check/command/command_test.go
  internal/clients/gitlab/client_test.go
  internal/command/discover/discover_test.go
  internal/command/healthcheck/healthcheck_test.go
  internal/command/lfsauthenticate/lfsauthenticate_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
