Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - ${GOPATH}/bin/nilaway ./... > /tmp/out.txt 2>&1 || true
  - cat /tmp/out.txt
  allow_failure: true

Update module golang.org/x/crypto to v0.35.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update golangci to 1.64.5
  Makefile
Due: none

Update last known acceptable after go bump
  support/lint_last_known_acceptable.txt
Due: none

Address .golangci.yml deprecations
  .golangci.yml
Due: none

Update module gitlab.com/gitlab-org/labkit to v1.22.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/prometheus/client_golang to v1.21.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update github.com/charmbracelet/git-lfs-transfer digest to 805ee9c
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/prometheus/client_golang to v1.21.1
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency golang to v1.24.1
  .tool-versions
Due: none

Update module golang.org/x/sync to v0.12.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module golang.org/x/crypto to v0.36.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Base64 gem required for Ruby 3.4.x
  Gemfile
  Gemfile.lock
Due: none

Release v14.41.0
  CHANGELOG
  VERSION
Due: none

Update CI RUBY_VERSION to 3.4.2
  .gitlab-ci.yml
Due: none

Revert "Merge branch 'pb-ci-ruby-version-3-4-2' into 'main'"
  .gitlab-ci.yml
Due: none

Update github.com/charmbracelet/git-lfs-transfer digest to d4ecc24
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update Gitaly client dependency to include DNS lookup change
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Remove SSHUploadPack from TestGitalyServer
  client/testserver/gitalyserver.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update module gitlab.com/gitlab-org/labkit to v1.23.1
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module gitlab.com/gitlab-org/labkit to v1.23.2
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module gitlab.com/gitlab-org/gitaly/v16 to v16.11.10
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/golang-jwt/jwt/v5 to v5.2.2
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency danger-review to v2.1.0
  .gitlab-ci.yml
Due: none

Update github.com/charmbracelet/git-lfs-transfer digest to fd7f679
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module google.golang.org/protobuf to v1.36.6
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency golang to v1.24.2
  .tool-versions
Due: none

Update github.com/charmbracelet/git-lfs-transfer digest to e9f7fdb
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/prometheus/client_golang to v1.22.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update Gitlab-shell Gitaly client dependency
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update github.com/charmbracelet/git-lfs-transfer digest to 4db3867
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency ruby to v3.4.3
  .tool-versions
Due: none

Update module google.golang.org/grpc to v1.71.1
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module google.golang.org/grpc to v1.72.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

commit
  README.md
Due: none

Update github.com/charmbracelet/git-lfs-transfer digest to cdc13fa
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module gitlab.com/gitlab-org/labkit to v1.24.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency gitlab-dangerfiles to '~> 4.9.1'
  Gemfile
  Gemfile.lock
Due: none

Update github.com/charmbracelet/git-lfs-transfer digest to 0d51139
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: go.mod, go.sum, **/*.go
  tests_without_cgo: any of: go.mod, go.sum, **/*.go
  tests:fips: any of: go.mod, go.sum, **/*.go
  race: any of: go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: go.mod, go.sum, **/*.go
