Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - NILAWAY_EXIT_CODE=$(${GOPATH}/bin/nilaway -include-pkgs="gitlab.com/gitlab-org/gitlab-shell/v14" ./... > /tmp/out.txt 2>&1 ; echo $?) || true
  - cat /tmp/out.txt
  - exit ${NILAWAY_EXIT_CODE}
  allow_failure: true

fix: Replace require.True with assert.True in audit test
  internal/command/gitauditevent/audit_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test: Replace require.True with assert.True in audit_test.go
  internal/command/gitauditevent/audit_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Pass key_id to git_audit_event endpoint for deploy key auth
  internal/command/gitauditevent/audit.go
  internal/command/gitauditevent/audit_test.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update LabKIt version
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Add logging field validator job
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Address review comment
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Move logging field validator to Makefile
  .gitlab-ci.yml
  Makefile
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Revert unnecessary dependency changes
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Release 14.48.0
  CHANGELOG
  VERSION
Due: none

Release 14.49.0
  CHANGELOG
  VERSION
Due: none

Update module google.golang.org/grpc to v1.80.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Fix flaky sshd tests by using dynamic port allocation
  internal/sshd/sshd.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add logging field validator CI job
  .gitlab-ci.yml
  Makefile
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update dependency golangci-lint to v2.11.4
  .tool-versions
Due: none

feat: bootstrap labkit v2 feature flag client with environment-based configuration
  internal/command/command.go
  internal/command/command_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: mod
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

fix: apply gofmt formatting to internal/featureflags/config.go
  internal/featureflags/config.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate CI to support new golangci version
  .gitlab-ci.yml
  .golangci.yml
  Makefile
  internal/command/commandargs/shell.go
  internal/command/discover/discover.go
  internal/command/personalaccesstoken/personalaccesstoken.go
  internal/command/shared/disallowedcommand/disallowedcommand.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix lint warnings surfaced by golangci-lint v2
  client/gitlabnet.go
  client/httpclient_test.go
  internal/command/lfstransfer/gitlab_backend.go
  internal/command/lfstransfer/lfstransfer_test.go
  internal/command/receivepack/gitalycall_test.go
  internal/executable/executable.go
  internal/gitlabnet/client.go
  internal/gitlabnet/git/client.go
  internal/sshenv/sshenv_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Support claim-based classification in Topology Service client
  config.yml.example
  go.mod
  go.sum
  internal/config/config_test.go
  internal/topology/claims.go
  internal/topology/claims_test.go
  internal/topology/client.go
  internal/topology/client_test.go
  internal/topology/config.go
  internal/topology/config_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/pires/go-proxyproto to v0.11.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

fix: Upgrade go-proxyproto and migrate deprecated API
  go.mod
  go.sum
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

fix: Add nil guard to topology Client.Classify method
  internal/topology/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Replace deprecated proxyproto API with Conn-based equivalents
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

refactor(command): extract feature flag client initialization
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: update go.mod and go.sum
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Migrate to labkit v2/log logger-in-context API
  client/transport.go
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/command/command.go
  internal/command/gitauditevent/audit.go
  internal/command/lfstransfer/gitlab_logger.go
  internal/handler/exec.go
  internal/sshd/connection.go
  internal/sshd/server_config.go
  internal/sshd/session.go
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

refactor(command): simplify feature flag client setup
  internal/command/command.go
  internal/command/command_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Prevent labkit log context panics and fix correlation ID shadowing
  client/transport.go
  cmd/gitlab-sshd/main.go
  go.sum
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Route /allowed requests via Topology Service
  client/client_test.go
  client/gitlabnet.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/topology/client_test.go
  internal/topology/resolver.go
  internal/topology/resolver_test.go
  internal/topology/topologytest/mock_server.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Replace deprecated 'error' log field with 'error_message'
  internal/topology/resolver.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate topology client from labkit/log to labkit/v2/log
  internal/topology/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Route /allowed requests via Topology Service
  client/client_test.go
  client/gitlabnet.go
  client/httpclient.go
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/topology/client_test.go
  internal/topology/resolver.go
  internal/topology/resolver_test.go
  internal/topology/topologytest/mock_server.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Bump Go version from 1.24.5 to 1.25.9
  .gitlab-ci.yml
  .tool-versions
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Correct Go version to 1.25.0 to fix CI pipeline mismatch
  .tool-versions
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
