Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go

Update RUST_VERSION to the latest available
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Apply Duo Fix suggestions
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: address linting issues in healthcheck migration code
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(command/healthcheck): add structure for feature flag integration tests
  internal/command/healthcheck/healthcheck_featureflag_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore(lint): allow github.com/elliotforbes/fakes in depguard
  .golangci.yml
Due: none

feat(command/healthcheck): add feature flag support for client migration
  internal/command/healthcheck/healthcheck.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance): add binary build cache
  acceptance/acceptancetest/binary.go
  acceptance/acceptancetest/binary_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore: update dependencies after feature flag integration
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: remove another unused parameter in test handler
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(command): add feature flag evaluator support to Setup()
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance): add subprocess exec wrapper
  acceptance/acceptancetest/acceptancetest.go
  acceptance/acceptancetest/process.go
  acceptance/acceptancetest/process_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

style(command): gofmt missing blank line in command.go
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore: allow github.com/open-feature/go-sdk in depguard whitelist
  .golangci.yml
Due: none

feat(clients/gitlab): add healthcheck client
  internal/clients/gitlab/healthcheck.go
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance): add Run as the public harness entrypoint
  acceptance/acceptancetest/acceptancetest.go
  acceptance/acceptancetest/acceptancetest_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance): add config.yml templating
  acceptance/acceptancetest/config.go
  acceptance/acceptancetest/config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore(make): add acceptance-test target
  Makefile
Due: none

test(acceptance/healthcheck): add FF-off rows of the migration matrix
  acceptance/healthcheck/healthcheck_test.go
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

test(acceptance/healthcheck): add FF-on rows to complete the 2x2 matrix
  acceptance/healthcheck/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix(command/healthcheck): set targeting key for FF evaluation
  internal/command/healthcheck/healthcheck.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance/healthcheck): gate api_healthy rows on JWT, assert UA
  acceptance/healthcheck/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance/healthcheck): add JWT auth-gating helper
  acceptance/healthcheck/authhelpers_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore(lint): allow github.com/gin-gonic/gin in depguard
  .golangci.yml
Due: none

test(clients/gitlab): add nil guards for nilaway false-positives
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(command/healthcheck): remove empty feature-flag integration stub
  internal/command/healthcheck/healthcheck_featureflag_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: mod
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix(clients/gitlab): match legacy client's retry policy
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Route SSH auth requests via Topology Service
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/gitlabnet/authorizedkeys/client.go
  internal/gitlabnet/authorizedkeys/client_test.go
  internal/topology/resolver.go
  internal/topology/resolver_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Refactoring to unify the resolver interface
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
  internal/gitlabnet/authorizedkeys/client.go
  internal/gitlabnet/authorizedkeys/client_test.go
  internal/topology/resolver.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Test
  README.md
Due: none

Update module github.com/mattn/go-shellwords to v1.0.13
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Add namespace_path to git audit event request
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Route repo-scoped API calls via Topology Service
  internal/command/gitauditevent/audit.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfstransfer/lfstransfer.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
  internal/gitlabnet/lfsauthenticate/client.go
  internal/gitlabnet/lfsauthenticate/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Skip retries for non-transient Topology Service errors
  internal/topology/resolver.go
  internal/topology/resolver_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Send full SSH key string in Topology Service claims
  internal/gitlabnet/authorizedkeys/client.go
  internal/gitlabnet/authorizedkeys/client_test.go
  internal/sshd/server_config.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Improve Topology Service resolver logging
  internal/topology/resolver.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Bump version to 14.51.0
  CHANGELOG
  VERSION
Due: none

fix(clients/gitlab): match legacy client retry policy
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(clients/gitlab): add HealthcheckClient for /check endpoint
  internal/clients/gitlab/healthcheck.go
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

refactor(clients/gitlab): extract path constant, use ParseJSON, migrate tests to gitlab_test package
  internal/clients/gitlab/healthcheck.go
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway
