Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - NILAWAY_EXIT_CODE=$(${GOPATH}/bin/nilaway -include-pkgs="gitlab.com/gitlab-org/gitlab-shell/v14" ./... > /tmp/out.txt 2>&1 ; echo $?) || true
  - cat /tmp/out.txt
  - exit ${NILAWAY_EXIT_CODE}
  allow_failure: true

Support claim-based classification in Topology Service client
  config.yml.example
  go.mod
  go.sum
  internal/config/config_test.go
  internal/topology/claims.go
  internal/topology/claims_test.go
  internal/topology/client.go
  internal/topology/client_test.go
  internal/topology/config.go
  internal/topology/config_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Harden instance-level SSH certificate authentication
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

ci: add logging field validator job
  .gitlab-ci.yml
  .labkit_logging_todo.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Add validate-log-fields tool to go.mod
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

ci: add logging field validator job
  .gitlab-ci.yml
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Bootstrap labkit v2 feature flag client
  go.mod
  go.sum
  internal/clients/gitlab/client.go
  internal/command/command.go
  internal/config/config.go
  internal/featureflags/config.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Simplify feature flag client bootstrap
  internal/command/command.go
  internal/featureflags/config.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

go mod tidy
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Address GitLab Duo review comments
  internal/command/command.go
  internal/featureflags/config.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update lint baseline for featureflags package and latest commits
  support/lint_last_known_acceptable.txt
Due: none

Fix spelling and clear lint baseline
  internal/clients/gitlab/client.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add support for instance-level SSH certificates via configuration
  config.yml.example
  internal/config/config.go
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Wire feature flag evaluator to gitlabnet HTTP client boundary
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/clients/gitlab/client.go
  internal/config/config.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Remove FeatureFlagEvaluator from config.Config
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/config/config.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Clear lint baseline (golangci now runs clean)
  support/lint_last_known_acceptable.txt
Due: none

Use log.Error helper for feature flag shutdown log line
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Add nil guards to satisfy NilAway static analysis
  internal/command/command.go
  internal/gitlabnet/lfstransfer/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update LabKIt version
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Add logging field validator job
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Address review comment
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Pass key_id to git_audit_event endpoint for deploy key auth
  internal/command/gitauditevent/audit.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add gl_key_type and gl_key_id to audit event logs
  internal/command/gitauditevent/audit.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Default feature flag namespace to "gitlab-shell"
  internal/command/command.go
  internal/featureflags/config.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Refactor Audit method to use AuditParams struct
  internal/command/gitauditevent/audit.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add test for audit without key_id
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add key_id tests to audit_test.go
  internal/command/gitauditevent/audit_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Use InEpsilon for float comparison in audit test
  internal/command/gitauditevent/audit_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add test for audit without key_id
  internal/command/gitauditevent/audit_test.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Apply gofmt alignment and use epsilon for float comparison in audit tests
  internal/command/gitauditevent/audit_test.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Apply gofmt and use epsilon for float assertion in audit tests
  internal/command/gitauditevent/audit_test.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Replace Equal with InEpsilon for float64 key_id assertion
  internal/command/gitauditevent/audit_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Use assert.InDelta for float comparison in audit test
  internal/command/gitauditevent/audit_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Pass key_id to git_audit_event endpoint for deploy key auth
  internal/command/gitauditevent/audit.go
  internal/command/gitauditevent/audit_test.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Move logging field validator to Makefile
  .gitlab-ci.yml
  Makefile
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
