Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go

fix: Replace deprecated proxyproto API with ConnPolicyFunc variants
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Bootstrap labkit v2 feature flag client
  go.mod
  go.sum
  internal/command/command.go
  internal/command/command_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

test(command/healthcheck): add structure for feature flag integration tests
  internal/command/healthcheck/healthcheck_featureflag_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(command): add feature flag evaluator support to Setup()
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(clients/gitlab): add healthcheck client
  internal/clients/gitlab/healthcheck.go
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(command/healthcheck): add feature flag support for client migration
  internal/command/healthcheck/healthcheck.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: remove another unused parameter in test handler
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore: update dependencies after feature flag integration
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore: allow github.com/open-feature/go-sdk in depguard whitelist
  .golangci.yml
Due: none

fix: address linting issues in healthcheck migration code
  internal/clients/gitlab/healthcheck_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

style: Add missing blank line in command.go for gofmt compliance
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Bump labkit/v2 and migrate log API to WithLogger/FromContext
  client/transport.go
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/command/command.go
  internal/command/gitauditevent/audit.go
  internal/command/gitauditevent/audit_test.go
  internal/command/lfstransfer/gitlab_logger.go
  internal/command/lfstransfer/lfstransfer_test.go
  internal/sshd/connection.go
  internal/sshd/connection_test.go
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
  internal/sshd/session.go
  internal/sshd/session_test.go
  internal/sshd/sshd.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Add retry with exponential backoff for classify calls
  go.mod
  internal/topology/resolver.go
  internal/topology/resolver_test.go
  internal/topology/topologytest/mock_server.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

chore: Add cenkalti/backoff/v5 to depguard allowlist
  .golangci.yml
Due: none

Add scheme-aware Topology Service resolver
  internal/topology/client_test.go
  internal/topology/resolver.go
  internal/topology/resolver_test.go
  internal/topology/topologytest/mock_server.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrate to labkit v2/log logger-in-context API
  client/transport.go
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/command/command.go
  internal/command/gitauditevent/audit.go
  internal/command/lfstransfer/gitlab_logger.go
  internal/handler/exec.go
  internal/sshd/connection.go
  internal/sshd/server_config.go
  internal/sshd/session.go
  internal/sshd/sshd.go
  internal/topology/client.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

fix(command): preserve generated correlation ID on logger
  internal/command/command.go
  internal/command/command_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: bumping labkit version
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

test(command): cover correlation_id stability across request flow
  internal/command/command_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix(sshd): align per-connection logger with context correlation_id
  internal/sshd/sshd.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Route /allowed requests via Topology Service
  client/client_test.go
  client/gitlabnet.go
  client/httpclient.go
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/topology/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Prevent double scheme prefix in topology resolver address
  internal/topology/resolver.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Route /allowed requests via Topology Service
  client/client_test.go
  client/gitlabnet.go
  client/httpclient.go
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/topology/client_test.go
  internal/topology/resolver.go
  internal/topology/resolver_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Correct misspelling of 'initialised' to 'initialized'
  internal/config/config.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add tag management guidelines to README
  README.md
Due: none

Fix `LogExecution: failed to parse user_id` warnings
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfsauthenticate/lfsauthenticate_test.go
  internal/command/receivepack/gitalycall_test.go
  internal/command/uploadarchive/gitalycall_test.go
  internal/command/uploadpack/gitalycall_test.go
  internal/gitlabnet/client.go
  internal/gitlabnet/client_test.go
  internal/handler/exec.go
  internal/handler/exec_test.go
  internal/testhelper/requesthandlers/requesthandlers.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Replace deprecated proxyproto API with Conn-based equivalents
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

refactor(log): use labkit v2.3.0 AppendFields helper
  client/transport.go
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/command/command_test.go
  internal/command/gitauditevent/audit.go
  internal/sshd/connection.go
  internal/sshd/server_config.go
  internal/sshd/session.go
  internal/sshd/sshd.go
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

fix(sshd): seed context logger before startup log line
  cmd/gitlab-sshd/main.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(sshd): make connection-logger test resilient to leaked goroutines
  internal/sshd/sshd_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add retry with exponential backoff for classify calls
  .golangci.yml
  go.mod
  internal/topology/resolver.go
  internal/topology/resolver_test.go
  internal/topology/topologytest/mock_server.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Bump RUBY_VERSION to 3.3.11
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway
