Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - ${GOPATH}/bin/nilaway ./... > /tmp/out.txt 2>&1 || true
  - cat /tmp/out.txt
  allow_failure: true

Create gitlab.
  gitlab-org/gitlab.
Due: none

Create gitlab.due
  gitlab-org/gitlab.due
Due: none

Create projcet,gitlap
  projcet,gitlap
Due: none

Make CI jobs use the local Go toolchain
  .gitlab-ci.yml
Due: none

Bump RUBY_VERSION to 3.3.9 to pick up latest gitlab-build-images updates
  .gitlab-ci.yml
Due: none

Set GOLANG_FIPS=1 in test:fips to ensure FIPS tests are run
  .gitlab-ci.yml
Due: none

Add back default SSH algorithms for non-FIPS builds
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.45.0
  CHANGELOG
  VERSION
Due: none

Relax FIPS default algorithms
  go.mod
  go.sum
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Release 14.45.1
  CHANGELOG
  VERSION
Due: none

Update labkit to v1.27.1
  go.mod
  go.sum
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Release 14.45.2
  CHANGELOG
  VERSION
Due: none

Add gitlab-sshd acceptance tests for all supported SSH key types
  .gitlab-ci.yml
  Makefile
  cmd/gitlab-sshd/acceptance_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix lint error in cmd/gitlab-sshd/acceptance_test.go
  cmd/gitlab-sshd/acceptance_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Move GOLANG_FIPS=1 back into tests:fips CI job
  .gitlab-ci.yml
  Makefile
Due: none

Revert "Merge branch 'jtapiab-add-done-pkt-git-clone-depth-option' into 'main'"
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/gitlabnet/accessverifier/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Accept new lint error
  support/lint_last_known_acceptable.txt
Due: none

Fix race in tests
  internal/command/receivepack/receivepack_test.go
  internal/command/uploadarchive/uploadarchive_test.go
  internal/command/uploadpack/uploadpack_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Clean up abandoned FF geo_proxy_fetch_direct_to_primary_with_options
  internal/command/githttp/pull.go
  internal/command/githttp/pull_test.go
  internal/gitlabnet/accessverifier/client.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Clean up FF geo_proxy_fetch_direct_to_primary
  internal/command/uploadpack/uploadpack.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/testhelper/testdata/testroot/responses/allowed_with_pull_payload.json
  spec/gitlab_shell_custom_git_upload_pack_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Clean up FF geo_proxy_direct_to_primary
  internal/command/githttp/push_test.go
  internal/command/receivepack/receivepack.go
  internal/command/receivepack/receivepack_test.go
  internal/command/shared/customaction/customaction.go
  internal/command/shared/customaction/customaction_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/testhelper/requesthandlers/requesthandlers.go
  internal/testhelper/testdata/testroot/responses/allowed_with_geo_push_payload.json
  internal/testhelper/testdata/testroot/responses/allowed_with_push_payload.json
  spec/gitlab_shell_custom_git_receive_pack_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix race condition by using io.NopCloser wrapper
  internal/command/receivepack/receivepack_test.go
  internal/command/uploadarchive/uploadarchive_test.go
  internal/command/uploadpack/uploadpack_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release 14.45.3
  CHANGELOG
  VERSION
Due: none

chore: updates the golangci-linter file so that it works with the latest version of the binary
  .golangci.yml
  .tool-versions
  support/lint_last_known_acceptable.txt
Due: none

chore: attempts to fixup a significant volume of linter issues
  .golangci.yml
  client/client_test.go
  client/httpclient.go
  client/httpclient_test.go
  client/httpsclient_test.go
  client/testserver/gitalyserver.go
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell/main.go
  internal/command/lfstransfer/lfstransfer_test.go
  internal/command/receivepack/gitalycall_test.go
  internal/config/config.go
  internal/sshd/sshd.go
  internal/sshenv/sshenv_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Go 1.25 to CI
  .gitlab-ci.yml
Due: none

First draft at migrating from logrus to slog
  .golangci.yml
  internal/sshd/connection.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

go mod tidy
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update module google.golang.org/protobuf to v1.36.10
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Demonstrates how we can adopt the labkit v2 log and meta package
  client/transport.go
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Bump development Ruby version to 3.3.10
  .ruby-version
  .tool-versions
Due: none

Release v14.45.5
  CHANGELOG
  VERSION
Due: none

parking as this is too large
  client/transport.go
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/sshd/session.go
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Migrates gitlab-sshd main file to labkit v2
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

go mod tidy
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Unused
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

FIxup
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: go.mod, go.sum, **/*.go
  tests_without_cgo: any of: go.mod, go.sum, **/*.go
  tests:fips: any of: go.mod, go.sum, **/*.go
  race: any of: go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: go.mod, go.sum, **/*.go
