Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - ${GOPATH}/bin/nilaway ./... > /tmp/out.txt 2>&1 || true
  - cat /tmp/out.txt
  allow_failure: true

Release v14.45.6
  CHANGELOG
  VERSION
Due: none

Attempts to migrate gitlab-sshd client over to v2 labkit logger
  cmd/gitlab-sshd/acceptance_test.go
  cmd/gitlab-sshd/main.go
  internal/config/config.go
  internal/logger/logger.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrates the client transport to use the new v2 log package
  client/transport.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fixup nil pointer
  client/transport.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Removes a redundant Ruby Spec test
  cmd/gitlab-shell/command/command_test.go
  internal/command/commandargs/shell.go
  spec/gitlab_shell_discover_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Refactors some Ruby spec tests into Go unit tests
  internal/command/discover/discover_test.go
  spec/gitlab_shell_discover_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Removes more redundant ruby spec tests
  spec/gitlab_shell_discover_spec.rb
Due: none

Refactors Ruby spec tests into existing table-driven tests for command
  cmd/gitlab-shell-authorized-principals-check/command/command_test.go
  spec/gitlab_shell_authorized_principals_check_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Removes another spec file that is redundant
  spec/gitlab_shell_discover_spec.rb
Due: none

Ensures we respect text formatted output
  cmd/gitlab-sshd/main.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Parking for now
  internal/command/authorizedkeys/authorized_keys.go
  internal/logger/logger.go
  internal/sshd/connection.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Migrates the logger setup into the logger package
  cmd/gitlab-sshd/main.go
  internal/logger/logger.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Lint fix
  internal/logger/logger.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Tests the removal of more ruby spec files
  spec/support/gitlab_shell_setup.rb
  spec/support/http_unix_server.rb
Due: none

Testing
  .gitlab-ci.yml
Due: none

Fixup
  .gitlab-ci.yml
Due: none

Fixup
  spec/gitlab_shell_authorized_keys_check_spec.rb
  spec/gitlab_shell_lfs_authentication_spec.rb
  spec/gitlab_shell_personal_access_token_spec.rb
  spec/gitlab_shell_two_factor_recovery_spec.rb
  spec/gitlab_shell_two_factor_verify_spec.rb
Due: none

Removes more Ruby Spec tests in favour of Go tests
  cmd/gitlab-shell-authorized-keys-check/command/command_test.go
  spec/gitlab_shell_authorized_keys_check_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fixup
  cmd/gitlab-shell-authorized-keys-check/command/command_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Removes more spec files
  spec/gitlab_shell_two_factor_recovery_spec.rb
Due: none

Removes more Ruby Spec tests in favour of Go tests
  cmd/gitlab-shell-authorized-keys-check/command/command_test.go
  spec/gitlab_shell_authorized_keys_check_spec.rb
  spec/gitlab_shell_two_factor_recovery_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Removes 2f verification spec tests
  spec/gitlab_shell_two_factor_verify_spec.rb
Due: none

Removes personal access token specs
  spec/gitlab_shell_personal_access_token_spec.rb
Due: none

Removes the final spec tests from this repository
  cmd/gitlab-sshd/acceptance_test.go
  spec/gitlab_shell_lfs_authentication_spec.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Removes most of the ruby-setup and re-adds linting to lefthook
  Gemfile
  Gemfile.lock
  Makefile
  lefthook.yml
  spec/spec_helper.rb
  spec/support/gitlab_shell_setup.rb
  spec/support/http_unix_server.rb
Due: none

Some additional tweaks to remove ruby mention
  .ruby-version
  .tool-versions
  README.md
Due: none

Some additional simplifications and fixing the make command
  .gitlab-ci.yml
  Makefile
Due: none

fix: ensure logs are routed to correct file with correct min level
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/logger/logger.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Adds a test to ensure the file output works
  go.sum
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Removes final Ruby Spec Tests from this repository
  .gitlab-ci.yml
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  Makefile
  README.md
  cmd/gitlab-sshd/acceptance_test.go
  lefthook.yml
  spec/gitlab_shell_lfs_authentication_spec.rb
  spec/gitlab_shell_personal_access_token_spec.rb
  spec/gitlab_shell_two_factor_verify_spec.rb
  spec/spec_helper.rb
  spec/support/gitlab_shell_setup.rb
  spec/support/http_unix_server.rb
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use retryPolicy from Rails
  internal/gitaly/gitaly.go
  internal/gitaly/gitaly_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/handler/exec.go
  internal/handler/exec_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use retryPolicy from Rails
  internal/command/uploadpack/gitalycall_test.go
  internal/gitaly/gitaly.go
  internal/gitlabnet/accessverifier/client.go
  internal/handler/exec.go
  internal/handler/exec_test.go
  internal/testhelper/requesthandlers/requesthandlers.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Upgrade Gitaly to v18
  client/testserver/gitalyserver.go
  cmd/gitlab-sshd/acceptance_test.go
  go.mod
  go.sum
  internal/command/gitauditevent/audit.go
  internal/command/receivepack/gitalycall.go
  internal/command/uploadarchive/gitalycall.go
  internal/command/uploadpack/gitalycall.go
  internal/gitaly/gitaly.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
  internal/handler/exec.go
  internal/handler/exec_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Bumps the LabKit version to adopt the NewWithFile logging constructor
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Adds MR Review instructions focused around Log Field Standardisation
  .gitlab/duo/mr-review-instructions.yaml
Due: none

Addresses point about emitting logs if closer.Close fails
  cmd/gitlab-sshd/main.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

pulls in gitaly's MustClose to improve tests
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

remove coupling between logger and config package
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Path conditions:
  tests: any of: go.mod, go.sum, **/*.go
  tests_without_cgo: any of: go.mod, go.sum, **/*.go
  tests:fips: any of: go.mod, go.sum, **/*.go
  race: any of: go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: go.mod, go.sum, **/*.go
