Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - NILAWAY_EXIT_CODE=$(${GOPATH}/bin/nilaway -include-pkgs="gitlab.com/gitlab-org/gitlab-shell/v14" ./... > /tmp/out.txt 2>&1 ; echo $?) || true
  - cat /tmp/out.txt
  - exit ${NILAWAY_EXIT_CODE}
  allow_failure: true

modify the main files for each of the binary to respect new log setup
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Parking this for now
  cmd/gitlab-shell/command/command.go
  cmd/gitlab-shell/command/command_test.go
  cmd/gitlab-shell/main.go
  internal/command/discover/discover.go
  internal/command/discover/discover_test.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfstransfer/lfstransfer.go
  internal/command/shared/accessverifier/accessverifier.go
  internal/command/twofactorrecover/twofactorrecover.go
  internal/command/twofactorverify/twofactorverify.go
  internal/config/config.go
  internal/config/config_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/client.go
  internal/gitlabnet/discover/client.go
  internal/gitlabnet/discover/client_test.go
  internal/gitlabnet/twofactorrecover/client.go
  internal/gitlabnet/twofactorverify/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

lint fix
  cmd/gitlab-sshd/main.go
  internal/logger/logger.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

create temporary constructor to instantiate gitlabClient
  cmd/gitlab-shell/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

removes the dependency on the config package throughout this app
  cmd/gitlab-shell/command/command.go
  internal/command/discover/discover.go
  internal/command/discover/discover_test.go
  internal/command/personalaccesstoken/personalaccesstoken.go
  internal/command/personalaccesstoken/personalaccesstoken_test.go
  internal/command/twofactorrecover/twofactorrecover.go
  internal/command/twofactorrecover/twofactorrecover_test.go
  internal/command/twofactorverify/twofactorverify.go
  internal/command/twofactorverify/twofactorverify_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/gitlabnet/client.go
  internal/gitlabnet/discover/client.go
  internal/gitlabnet/discover/client_test.go
  internal/gitlabnet/personalaccesstoken/client.go
  internal/gitlabnet/personalaccesstoken/client_test.go
  internal/gitlabnet/twofactorrecover/client.go
  internal/gitlabnet/twofactorrecover/client_test.go
  internal/gitlabnet/twofactorverify/client.go
  internal/gitlabnet/twofactorverify/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

lint and test fix
  internal/config/config.go
  internal/gitlabnet/discover/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

lint: Add Gitaly version linter
  .gitlab-ci.yml
  support/lint_gitaly_version.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Upgrade Gitaly to v18.9.0-rc4
  client/testserver/gitalyserver.go
  cmd/gitlab-sshd/acceptance_test.go
  go.mod
  go.sum
  internal/command/gitauditevent/audit.go
  internal/command/receivepack/gitalycall.go
  internal/command/uploadarchive/gitalycall.go
  internal/command/uploadpack/gitalycall.go
  internal/gitaly/gitaly.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
  internal/handler/exec.go
  internal/handler/exec_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

adopt log singleton pattern to facilitate migration efforts
  client/transport.go
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

remove unused logger from gitlab-shell-check cmd
  cmd/gitlab-shell-check/main.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

remove unused logger setup from authorized principals check
  cmd/gitlab-shell-authorized-principals-check/main.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

moves http client construction out of config package
  internal/config/config.go
  internal/config/config_test.go
  internal/gitlabnet/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

remove unnecessary abstraction over healthcheck command
  client/gitlabnet.go
  client/healthcheck.go
  client/healthcheck_test.go
  internal/command/healthcheck/healthcheck.go
  internal/command/healthcheck/healthcheck_test.go
  internal/config/config.go
  internal/gitlabnet/healthcheck/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

add new gitlab client with get user client method
  go.mod
  go.sum
  internal/clients/gitlab/errors.go
  internal/clients/gitlab/gitlab.go
  internal/clients/gitlab/http.go
  internal/clients/gitlab/user.go
  internal/clients/gitlab/user_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

migrate the pat client method into the new gitlab client
  go.mod
  go.sum
  internal/clients/gitlab/pat.go
  internal/clients/gitlab/pat_test.go
  internal/clients/gitlab/user_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Parking for now
  internal/clients/gitlab/twofactor.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

migrates to v2 logger
  client/transport.go
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/main.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Example migration
  cmd/gitlab-shell-check/main.go
  go.mod
  internal/command/authorizedkeys/authorized_keys.go
  internal/command/gitauditevent/audit.go
  internal/command/githttp/pull.go
  internal/command/githttp/push.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfstransfer/lfstransfer.go
  internal/command/personalaccesstoken/personalaccesstoken.go
  internal/command/twofactorrecover/twofactorrecover.go
  internal/command/twofactorverify/twofactorverify.go
  internal/gitaly/gitaly.go
  internal/gitlabnet/git/client.go
  internal/handler/exec.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/sshd/connection.go
  internal/sshd/gssapi.go
  internal/sshd/server_config.go
  internal/sshd/session.go
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fixing a few things
  internal/command/lfstransfer/lfstransfer.go
  internal/sshd/connection.go
  internal/sshd/server_config.go
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Topology Service configuration types
  config.yml.example
  internal/config/config.go
  internal/config/config_test.go
  internal/testhelper/testdata/testroot/config.yml
  internal/topology/config.go
  internal/topology/config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Bumps the LabKit version to adopt the NewWithFile logging constructor
  cmd/gitlab-sshd/main.go
  go.mod
  go.sum
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

migrate all bar gitlab-shell to new slog labkit setup
  cmd/gitlab-shell-authorized-keys-check/main.go
  cmd/gitlab-shell-authorized-principals-check/main.go
  cmd/gitlab-shell-check/main.go
  cmd/gitlab-sshd/main.go
  internal/command/command.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Topology Service Go client dependency
  go.mod
  go.sum
  internal/topology/client.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

add an error message if failure to configure logger and assert we don't drop logs
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

lint fix
  internal/logger/logger_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update gitlab.com/gitlab-org/cells/topology-service digest to af4593c
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/golang-jwt/jwt/v5 to v5.3.1
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Implement Topology Service gRPC client
  .golangci.yml
  internal/topology/client.go
  internal/topology/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use retryPolicy from Rails
  internal/command/uploadpack/gitalycall_test.go
  internal/gitaly/gitaly.go
  internal/gitaly/gitaly_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/handler/exec.go
  internal/handler/exec_test.go
  internal/testhelper/requesthandlers/requesthandlers.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add custom redirect handling to LFS transfer HTTP client
  internal/gitlabnet/lfstransfer/client.go
  internal/gitlabnet/lfstransfer/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Gitaly retry policy
  internal/command/uploadpack/gitalycall_test.go
  internal/gitaly/gitaly.go
  internal/gitaly/gitaly_test.go
  internal/gitlabnet/accessverifier/client.go
  internal/handler/exec.go
  internal/handler/exec_test.go
  internal/testhelper/requesthandlers/requesthandlers.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

migrate client and gitlab-shell to use the same labkit logger
  client/transport.go
  cmd/gitlab-shell/main.go
  internal/command/command.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release 14.46.0
  CHANGELOG
  VERSION
Due: none

migrate all callsites over to use the new labkit slog implementation
  .gitlab-ci.yml
  Makefile
  client/transport.go
  cmd/gitlab-shell/main.go
  cmd/gitlab-sshd/acceptance_test.go
  config.yml.example
  go.mod
  internal/command/authorizedkeys/authorized_keys.go
  internal/command/command.go
  internal/command/gitauditevent/audit.go
  internal/command/githttp/pull.go
  internal/command/githttp/push.go
  internal/command/lfsauthenticate/lfsauthenticate.go
  internal/command/lfstransfer/gitlab_logger.go
  internal/command/lfstransfer/lfstransfer.go
  internal/command/personalaccesstoken/personalaccesstoken.go
  internal/command/twofactorrecover/twofactorrecover.go
  internal/command/twofactorverify/twofactorverify.go
  internal/gitaly/gitaly.go
  internal/gitlabnet/git/client.go
  internal/handler/exec.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/metrics/metrics.go
  internal/sshd/connection.go
  internal/sshd/connection_test.go
  internal/sshd/gssapi.go
  internal/sshd/server_config.go
  internal/sshd/session.go
  internal/sshd/sshd.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add Prometheus metrics for Topology Service client
  internal/config/config_test.go
  internal/metrics/metrics.go
  internal/topology/client.go
  internal/topology/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Use streaming HTTP transport for SSH pack requests
  client/gitlabnet.go
  client/httpclient_test.go
  client/streaming_transport.go
  internal/gitlabnet/git/client.go
  internal/gitlabnet/git/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Apply 1 suggestion(s) to 1 file(s)
  client/transport.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
