Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

tests:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests_without_cgo:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  parallel:
  ...

tests:fips:
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  - - key:
        prefix: ruby-${RUBY_VERSION}-cache
        files:
        - Gemfile.lock
      policy: $POLICY
      paths:
      - ${BUNDLE_PATH}
  needs:
  ...

race:
  variables:
    CACHE_COMPRESSION_LEVEL: fastest
    GITALY_CONNECTION_INFO: '{"address":"tcp://gitaly:8075", "storage":"default"}'
  cache:
  - - key:
        prefix: golang-${GO_VERSION}-cache
        files:
        - go.mod
        - go.sum
      policy: $POLICY
      paths:
      - .GOPATH/pkg/mod/
  parallel:
  ...

build-package-and-qa:
  stage: post-test
  trigger:
    project: gitlab-org/build/omnibus-gitlab-mirror
    branch: master
    strategy: depend
  inherit:
    variables: false
  variables:
    GITLAB_SHELL_VERSION: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
    TOP_UPSTREAM_SOURCE_PROJECT: $CI_PROJECT_PATH
  ...

nilaway:
  stage: lint
  before_script:
  - go install go.uber.org/nilaway/cmd/nilaway@latest
  script:
  - ${GOPATH}/bin/nilaway ./... > /tmp/out.txt 2>&1 || true
  - cat /tmp/out.txt
  allow_failure: true

Update module golang.org/x/crypto to v0.38.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update dependency golang to v1.24.3
  .tool-versions
Due: none

Ensure nilaway only scans gitlab-shell
  .gitlab-ci.yml
Due: none

Exit with nilaway's exit code
  .gitlab-ci.yml
Due: none

Add go 1.24 to the matrix
  .gitlab-ci.yml
Due: none

Remove go 1.22 as we don't need to test against it
  .gitlab-ci.yml
Due: none

Bump go.mod toolchain to 1.24.2
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Make the default CI go version 1.24
  .gitlab-ci.yml
Due: none

Use more appropriate images
  .gitlab-ci.yml
Due: none

Rework Docker image computation
  .gitlab-ci.yml
Due: none

Ruby 3.3.7 required now
  .gitlab-ci.yml
Due: none

More Docker images fixes
  .gitlab-ci.yml
Due: none

Update dependency go to v1.24.3
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix: Update Gitaly dependency to fix connectivity issues
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Release 14.42.0
  CHANGELOG
  VERSION
Due: none

Add CheckIP param in gitauditevent request
  internal/command/gitauditevent/audit.go
  internal/command/gitauditevent/audit_test.go
  internal/command/receivepack/receivepack.go
  internal/command/uploadpack/uploadpack.go
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix(keyline): Allow dots, underscores, and uppercase in key_id validation
  internal/keyline/key_line.go
  internal/keyline/key_line_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Due: none

SECURITY.md
  SECURITY.md
Due: none

Update module golang.org/x/sync to v0.15.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Use S_D_E if set for build time
  Makefile
Due: none

Update dependency go to v1.24.4
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update dependency golang to v1.24.4
  .tool-versions
Due: none

Update module gitlab.com/gitlab-org/labkit to v1.24.1
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Fix "context-keys-type" linter warning
  internal/command/command.go
  internal/command/lfstransfer/lfstransfer.go
  internal/sshd/sshd.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update module golang.org/x/crypto to v0.39.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Adjust test to match new crypto 0.39.0 behavior
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Supress linter warnings
  support/lint_last_known_acceptable.txt
Due: none

Include changes param in shellhorse Git over SSH
  internal/gitlabnet/gitauditevent/client.go
  internal/gitlabnet/gitauditevent/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.43.0
  CHANGELOG
  VERSION
Due: none

Update dependency go to v1.24.5
  go.mod
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update dependency golang to v1.24.5
  .tool-versions
Due: none

Update module golang.org/x/sync to v0.16.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/golang-jwt/jwt/v5 to v5.2.3
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update Ruby development version to 3.3.9
  .ruby-version
  .tool-versions
Due: none

Update module github.com/golang-jwt/jwt/v5 to v5.3.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Remove hard-coded SSH supported algorithms
  go.mod
  go.sum
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Use RSA keys in FIPS mode tests
  cmd/gitlab-sshd/acceptance_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update module google.golang.org/protobuf to v1.36.7
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Release v14.44.0
  CHANGELOG
  VERSION
Due: none

Path conditions:
  tests: any of: go.mod, go.sum, **/*.go
  tests_without_cgo: any of: go.mod, go.sum, **/*.go
  tests:fips: any of: go.mod, go.sum, **/*.go
  race: any of: go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: go.mod, go.sum, **/*.go
