Repository gitlabhq/gitlab-shell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Path conditions:
  tests: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests_without_cgo: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  tests:fips: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  race: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go
  build-package-and-qa: any of: go.sum
  nilaway: any of: .gitlab-ci.yml, go.mod, go.sum, **/*.go

Add Cells SSH-over-HTTP routing for git push/pull
  client/client_test.go
  client/gitlabnet.go
  internal/command/githttp/cells.go
  internal/command/githttp/cells_test.go
  internal/command/githttp/pull_test.go
  internal/command/githttp/push_test.go
  internal/command/receivepack/receivepack.go
  internal/command/uploadpack/uploadpack.go
  internal/gitlabnet/accessverifier/client.go
  internal/gitlabnet/accessverifier/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Exclude client cancellations from the SSH connection error SLI
  client/client_test.go
  client/gitlabnet.go
  internal/clients/gitlab/client.go
  internal/clients/gitlab/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Exclude client disconnects from the SSH session error SLI
  internal/sshd/connection.go
  internal/sshd/connection_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(topology): add HostForSSHFingerprint address-only resolver
  internal/topology/resolver.go
  internal/topology/resolver_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Refactor client-disconnect SLI exclusion into isClientDisconnect
  internal/sshd/connection.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

feat(clients/gitlab): add AuthorizedCertsClient sub-client
  internal/clients/gitlab/authorizedcerts.go
  internal/clients/gitlab/authorizedcerts_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Release v14.56.0
  CHANGELOG
  VERSION
Due: none

feat(authorizedcerts): select unified client via feature flag
  go.mod
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

test(acceptance): assert authorized_certs old/new client equivalence
  acceptance/authorizedcerts/authorizedcerts_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

fix(authorizedcerts): fall back to legacy when unified client unavailable
  internal/gitlabnet/authorizedcerts/client.go
  internal/gitlabnet/authorizedcerts/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update the version for the logging field validator
  Makefile
Due: none

Add the new offense detected with the new version
  .labkit_logging_todo.yml
Due: none

Skip boringcrypto when Go's native FIPS module is selected
  Makefile
Due: none

Fix gitlab-sshd CPU spin by upgrading golang.org/x/crypto to v0.54.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Make gotestsum/golangci-lint downloads more robust
  Makefile
Due: none

Release v14.56.1
  CHANGELOG
  VERSION
Due: none

Update module gitlab.com/gitlab-org/labkit to v1.64.8
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module github.com/pires/go-proxyproto to v0.14.0
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Update module gitlab.com/gitlab-org/gitaly/v18 to v18.11.7
  go.mod
  go.sum
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Expect Gitaly backchannel yamux metrics in metrics test
  internal/config/config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Port FIPS usage to labkit v2 fips/sshalgo packages
  cmd/gitlab-shell/main.go
  go.mod
  go.sum
  internal/sshd/server_config.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

Use released labkit v2.33.0 and refresh lint baseline
  go.mod
  go.sum
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway

chore(deps): bump .tool-versions Go pin to 1.25.10
  .tool-versions
Due: none

Add ssh-audit CI check for FIPS and non-FIPS SSH algorithms
  .gitignore
  .gitlab-ci.yml
  Makefile
  support/ssh-audit/README.md
  support/ssh-audit/gitlab-sshd-fips.policy
  support/ssh-audit/gitlab-sshd.policy
  support/ssh-audit/run.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

ssh-audit: generate host keys in Go and cache the download
  .gitlab-ci.yml
  support/ssh-audit/README.md
  support/ssh-audit/genhostkey/main.go
  support/ssh-audit/run.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

ssh-audit: install openssh in the FIPS job instead of a Go key generator
  .gitlab-ci.yml
  support/ssh-audit/README.md
  support/ssh-audit/genhostkey/main.go
  support/ssh-audit/run.sh
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix nilaway potential nil-panic errors in production code
  client/gitlabnet.go
  cmd/gitlab-shell-check/main.go
  internal/gitlabnet/lfstransfer/client.go
  internal/topology/client.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Extract repeated test string literals into constants
  internal/executable/executable_test.go
  internal/gitaly/gitaly_test.go
  internal/gitlabnet/accessverifier/client_test.go
  internal/gitlabnet/discover/client_test.go
  internal/gitlabnet/git/client_test.go
  internal/gitlabnet/lfsauthenticate/client_test.go
  internal/gitlabnet/personalaccesstoken/client_test.go
  internal/gitlabnet/twofactorrecover/client_test.go
  internal/gitlabnet/twofactorverify/client_test.go
  internal/handler/exec_test.go
  internal/keyline/key_line_test.go
  internal/pktline/pktline_test.go
  internal/sshd/connection_test.go
  internal/sshd/server_config_test.go
  internal/sshd/session_test.go
  internal/sshd/sshd_test.go
  internal/topology/client_test.go
  internal/topology/config_test.go
  internal/topology/resolver_test.go
  support/lint_last_known_acceptable.txt
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix nilaway potential nil-panic errors in tests
  cmd/gitlab-sshd/acceptance_test.go
  internal/clients/gitlab/client_test.go
  internal/clients/gitlab/healthcheck_test.go
  internal/command/lfstransfer/lfstransfer_test.go
  internal/command/uploadpack/gitalycall_test.go
  internal/gitlabnet/twofactorverify/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

ssh-audit: do not pin host key sizes in policies
  support/ssh-audit/README.md
  support/ssh-audit/gitlab-sshd-fips.policy
  support/ssh-audit/gitlab-sshd.policy
Due: none

ssh-audit: simplify CI caching and install python3 in the FIPS job
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

ssh-audit: cache the pinned ssh-audit download
  .gitlab-ci.yml
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Address review: clarify LFS token key and namespace value constants
  internal/gitlabnet/lfsauthenticate/client_test.go
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Add test for topology Classify nil-receiver guard
  internal/topology/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Fix nilaway potential nil-panic errors in production code
  client/gitlabnet.go
  cmd/gitlab-shell-check/main.go
  internal/gitlabnet/lfstransfer/client.go
  internal/topology/client.go
  internal/topology/client_test.go
Due: tests, tests_without_cgo, tests:fips, race, nilaway

Update module gitlab.com/gitlab-org/labkit to v1.64.11
  go.mod
  go.sum
  internal/sshd/server_config_test.go
Due: tests, tests_without_cgo, tests:fips, race, build-package-and-qa, nilaway
